*{
    color: black;
    font-size: 16px;
}
body{
    width: 95%;
    height: 100%;
    background-color: #ffffff;
    margin: 0 auto;
}
.threadCard{
    width: 418px;
    float:left;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    top: 10px;
    left: 10px;
}
.reply{
    width: 80%;
    margin: 15px auto;
}
.tags{
    margin: 0 auto;
    width: 100%;
    height: 100px;
}
.card-cover{
    float: left;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    background: no-repeat 100% 100%;
    background-size: cover;
}
.card-info{
    float: right;
    width: 380px;
    margin-left: 10px;
    padding-top: 15px;
}
ul{
    list-style: none;
}
iframe{
    width: 100%;
    height: 800px;
    border: darkgray 1px solid;
    border-radius: 10px;
    background-color: darkgray;

}
.article{
    margin: 0 auto;
    width: 60%;
    background-color: #b3b2b2;
    border-radius: 10px;
    padding: 25px;
}
li{
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 400px;
    background-color: #fff;
}
.article .content img{
    margin: 0 auto;
    object-fit: cover;
    width: 80%;
    height: auto;
}

.reply .comment img {
    object-fit: cover;
    width: 100%;
    /*height: 100%;*/
    display: inline-block;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
}
.reply .comment img:after {
    content:'';
    display: block;
    clear: both;
}
.main{
    margin: 0 auto;
    margin-top: 5%;
    padding: 5%;
    position: relative;
    width: 80%;
    height: 80%;
}
.titleLine{
    width: 100%;
    height: 30px;
    background-color: #939393;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 20px;
    z-index: 999;
}
.titleLine .appTitle{
    float: left;
    font-size: 12px;
    margin-left: 18px;
    line-height: 2.5;
}
.titleLine .back{
    float: left;
    line-height: 1.35;
    width: 30px;
    height: 30px;
    padding-left: 10px;
}
.titleLine .windowControl {
    float: right;
}
.titleLine .windowControl div{
    float: right;
    width: 30px;
    height: 30px;
    line-height: 1.35;
    padding-left: 10px;
    padding-right: 10px;
}

.titleLine .windowControl .close:hover{
    background-color: #c42b1c;
}
.titleLine .windowControl .close:hover img{
    filter: invert(100%);
}
.titleLine .normal:hover{
    background-color: #e5e5e5;
}
.choice{
    float: left;
    line-height: 3;
}
p { word-break:break-all; }
input[type="text"]{
    height: 15px;
    width: 100%;
    background: none;
    border: none;
}
form{
    height: 70px;
}

.submitBtn{
    float: right;
}
.gameSelect{
    margin-left: 15px;
    margin-right: 15px;
}
.selector{
    width: 100%;
    margin-bottom: 10px;
}
.selector button{
    float: left;
    margin-top: 10px;
}

.diffItems{
    border: 5px solid orange;
    margin-top: 10px;
}
.copyStatus{
    width: 100px;
    height: 30px;
    margin: 0 auto;
    position: absolute;
    top: 7%;
    right: 3%;
    text-align: center;
    line-height: 1.75;
    border-radius: 5px;
}
.diffItems span{
    margin-left: 15px;
    margin-right: 15px;
}
.btn{
    margin-left: 15px;
    margin-right: 15px;
}


