{% extends 'base.html' %}
{% block main %}
<div class="history">
    <div class="posts"></div>
    <script>
        let userPosts = document.getElementsByClassName('posts')[0];
        let xhr = new XMLHttpRequest();
        let posts = Object();
        let post = null;
        let temp = '';
        let page = 1

        function addUserArticle() {
            xhr.open("get", `/apis/history?page=${page}`);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    let res = JSON.parse(xhr.responseText);
                    posts = res['article'];
                    if (posts.length > 0 && !res['isLast']) {
                        page++;
                        for (let i = 0; i < posts.length; i++) {
                            post = posts[i];
                            temp += `<a onclick="hidePostCards('/article?id=${post.post_id}')" style="cursor: pointer;text-decoration: none"><div class="postCard fix" style="padding-top: 10px"><div class="user" onclick="hidePostCards('/user?uid=${post.uid}')" style="cursor: pointer"><img class="avatar" src="${post.authorAvatar}"/><div class="userinfo"><div class="nickname">${post.authorName}</div><div class="describe">${post.authorDescribe}</div></div></div><div class="image">`;
                            if (post['cover'] !== '') {
                                temp += `<div class="articleCover" style="background-image: url(${post.cover})"></div>`;
                            } else {
                                temp += `<div class="articleCover" style="background-color: #868585"></div>`;
                            }
                            temp += `<div class="info"><div class="articleTitle">${post.title}</div><div class="articleDescribe">${post.describe}</div></div></div></a>`;
                            userPosts.innerHTML += temp;
                            temp = '';
                        }
                    } else {
                        userPosts.innerHTML += `<div class="noPosts"><strong>已经到底了</strong></div>`;
                    }
                }
            }
            xhr.send();
        }
        document.addEventListener('scroll',function () {
            if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
                addUserArticle();
            }
        });
        addUserArticle();
    </script>
</div>
{% endblock %}