<!DOCTYPE html>
<html lang="zh">
<head>
    <link rel="stylesheet" type="text/css" href="/resources?css=hoyolab">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
    <script src="https://cdn.bootcdn.net/ajax/libs/quill/1.3.7/quill.js"></script>
    <script>
        function upVoteReply(reply_id, post_id, isCancel, i) {
            window.parent.pywebview.api.upVoteReply(reply_id, post_id, isCancel).then(function (status) {
                if (status['status'] === 'ok'){
                    let btn = document.getElementsByClassName("voteReplyBtn")[i]
                    btn.textContent = isCancel?'点赞':'取消点赞'
                    btn.setAttribute('onclick', `upVoteReply('${reply_id}','${post_id}', ${(!isCancel).toString()})`)
                    let voteNum = document.getElementsByClassName('voteReplyNum')[i]
                    voteNum.textContent = isCancel?(Number(voteNum.textContent) - 1).toString():(Number(voteNum.textContent) + 1).toString()
                }
                console.info(status['status'])
            })
        }
    </script>
    <meta charset="UTF-8">
</head>
<body class="commentBody">
<div class="replies">
    <div class="pageControl">
        <button class="pageButton" onclick="window.location.href = '/comments?id={{ post_id }}&gid={{ gid }}'">返回</button>
    </div>
    <div class="reply mainReply">
        <div class="user commentUser">
            <img class="avatar" src="{{ rootReply.comment['avatar'] }}"/>
            <div class="userinfo">
                <div class="nickname">{{ rootReply.comment['username'] }}</div>
                <div class="describe">{{ rootReply.comment['describe'] }}</div>
            </div>
        </div>
        <div class="comment" id="rootComment">{{ rootReply.comment['content'] | safe }}</div>
        <div class="commentActions">
            <span>点赞数：</span>
            <span class="voteReplyNum">{{ rootReply.comment['like_num'] }}</span>
            {% if account.isLogin %}
                <button class="voteReplyBtn pageButton" onclick="upVoteReply('{{ rootReply.comment['reply_id'] }}', '{{ rootReply.comment['post_id'] }}', {{ 'true' if rootReply.comment['upvoted'] else 'false' }})">{{ '取消点赞' if rootReply.comment['upvoted'] else '点赞' }}</button>
            {% endif %}
        </div>
    </div>
    <div class="subreplies"></div>
</div>
<script>
    let userPosts = document.getElementsByClassName('subreplies')[0];
    let xhr = new XMLHttpRequest();
    let post = null;
    let temp = '';
    let page = 1;
    let last_id = 0;
    let bottomNotice = true;

    function addUserArticle() {
        xhr.open("get", `/apis/subComment?page=${page}&gid={{ gid }}&post_id={{ post_id }}&floor_id={{ floor_id }}&last_id=${last_id}`);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                let replies = JSON.parse(xhr.responseText);
                last_id = replies.last_id
                if (replies.comments.length > 0) {
                    page++;
                    for (let i = 0; i < replies.comments.length; i++) {
                        temp += `<div class="reply"><div class="user commentUser"><img class="avatar" src="${replies.comments[i]['avatar']}"/><div class="userinfo"><div class="nickname">${replies.comments[i]['username']}</div><div class="describe">${replies.comments[i]['describe']}</div></div></div><div class="comment" id="comment">${replies.comments[i]['content']}</div><div class="commentActions"><span>点赞数：</span><span class="voteReplyNum">${replies.comments[i]['like_num']}</span>`;
                        temp += `{% if account.isLogin %}<button class="voteReplyBtn pageButton" onclick="upVoteReply('${replies.comments[i]['reply_id']}', '${replies.comments[i].post_id}', '${replies.comments[i].upvoted.toString()}, ${i})">${replies.comments[i].upvoted?'取消点赞':'点赞'}</button>{% endif %}`;
                        userPosts.innerHTML += temp;
                        temp = '';
                    }
                }
                if (replies.isLast && bottomNotice) {
                    userPosts.innerHTML += `<div class="noPosts"><strong>已经到底了</strong></div>`;
                    bottomNotice = false;
                }
            }
        }
        xhr.send();
    }
    document.addEventListener('scroll',function () {
        if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
            addUserArticle();
        }
    });
    addUserArticle();
</script>
</body>