*{
    direction: ltr;
}
a{
    color: #000;
}
/* clearfix */
.fix::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* body */
body{
    margin: 0;
    max-width: 100%;
    min-width: 520px;
    /*overflow: hidden;*/
}
body::-webkit-scrollbar {
  display: none;
}
@media screen and (prefers-color-scheme: dark) {
    body{
        background: #494949;
    }
}
.headers{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #66adff;
    z-index: 9999;
}
.headers .controllers{
    float: left;
    margin-left: 15px;
}
.headers .userControllers{
    position: fixed;
    top: 0;
    right: 0;
    height: 20px;
    margin-right: 15px;
    z-index: 9999;
}
.headers span{
    color: #000;
    line-height: 2;
}
.headers .controller{
    float: left;
    height: 14px;
    width: 14px;
    margin: 8px;
}
.headers .setting{
    background: none no-repeat 97% 0;
    background-size: cover;
}
.headers .reload{
    background: none no-repeat 35% 0;
    cursor: default;
    background-size: cover;
}
.headers .back {
    background: none no-repeat 0 0;
    background-size: cover;
}
.headers .home {
    background: none no-repeat 68% 0;
    background-size: cover;
}
.headers .headerMiddle{
    float: left;
    width: 30%;
    height: 30px;
    margin-left: 20px;
    text-align: center;
    line-height: 2;
    color: #000;
}
.headers .headerMiddle .forumLogo{
    float: left;
    height: 22px;
    width: 22px;
    background-size: cover;
    border-radius: 50%;
    margin: 4px;
}
.forumChange{
    float: left;
    margin: 7px;
    height: 16px;
    border: none;
    border-radius: 2px;
    background-color: #66adff;
}
.main{
    margin-top: 30px;
}
/* main.html */
/* menu */
.menu{
    position: fixed;
    top: 30px;
    left: 0;
    width: 20%;
    max-width: 350px;
    height: -webkit-fill-available;
    background-color: #00d8ff;
    float: left;
    color: #000;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    z-index: 9999;
}
.search{
    margin: 10px;
}
.search input{
    border: none;
    border-radius: 10px;
    height: 30px;
}
.search input[type="text"]{
    width: 78%;
    padding: 15px;
}
.search input[type="submit"]{
    width: 20%;
}
.search input[type="submit"]:hover{
    background-color: #e7e7e7;
}
.search input[type="submit"]:focus{
    background-color: #a7a7a7;
}
.areas{
    margin-top: 10px;
}
.area{
    color: #000;
    background-color: #00b2ff;
    height: 45px;
    line-height: 1.75;
    font-size: 18px;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
}
.areas .blank{
    height: 45px;
}
.area:not(.selected):hover{
    background-color: #00b2ee;
}
.area:not(.selected):focus{
    background-color: #008cff;
}
.selected:is(.area){
    background-color: #008cff;
}
.account:not(.accountInSetting){
    position: relative;
    top: calc(100% - 408px);
    color: #000;
    cursor: pointer;
    background-color: #005cc0;
    border-radius: 10px;
    margin: 10px;
}
.accountOuter{
    margin: 10px;
}
.accountInSetting{
    background-color: #1b78d8;
    border-radius: 10px;
}
.accountInSetting .user{
    padding: 1%;
}
/* postCards */
.rights{
    float: right;
    width: 75%;
    height: -webkit-fill-available;
    max-width: calc(100% - 300px);
    /*margin-top: 30px;*/
    padding-left: 4%;
}
.banner{
    max-height: 320px;
    max-width: 690px;
    float: right;
    margin: 10px auto;
    background-color: #00b2ff;
}

/* postCard */
.postCard{
    width: 500px;
    height: 450px;
    text-decoration: none;
    float: left;
    margin: 10px;
    color: black;
    background-color: #868585;
    border-radius: 10px;
}
.postCard:not(.control){
    cursor: pointer;
}
.mainPageControl{
    padding: 34%
}
.mainPageControl .pageButton{
    margin: 14px;
}
.setting{
    float: right;
    width: 60%;
    /*height: 800px;*/
    margin-top: 10px;
    margin-right: 12%;
    background-color: #008cff;
    border-radius: 10px;
    padding: 2%;
}
.setting a{
    color: #000;
}
.setting .accountInSetting{
    color: #000;
    width: 200px;
    height: 70px;
    background-color: #1b78d8;
}
.settingItem, .commit, .setting p{
    margin: 2%;
}
.commit{

}
@media (max-width: 1500px) {
    .menu{
        /*float: left;*/
        width: 100%;
        max-width: unset;
        height: 85px;
        margin: unset;
        padding: 10px;
        border-radius: unset;
    }
    .menu .blank{
        /*display: none;*/
        float: left;
        width: 30px;
    }
    .menu .area{
        float: left;
        width: 100px;
        margin: 3px;
    }
    .account:not(.accountInSetting){
        max-width: 30px;
        max-height: 30px;
        position: unset;
        float: right;
        background: unset;
        margin: 3px;
    }
    .account:not(.accountInSetting) .userinfo{
        display: none;
    }
    .search{
        float: right;
    }
    .search input{
        margin: 12px;
    }
    .search input[type="text"]{
        margin-right: 3px;
        width: 100px;
    }
    .search input[type="submit"]{
        margin-left: 3px;
        width: 40px;
    }
    .rights{
        float: unset;
        width: 100%;
        margin: 135px auto 0;
        padding: unset;
    }
    .setting{
        padding: 3%;
    }
    .postCard{
        float: unset;
        margin: 10px auto;
    }
    .banner{
        float: none;
    }
    .setting{
        float: unset;
        margin: 135px auto 12%;
    }
}
@media (max-width: 710px) {
    .area:not(.selected){
        display: none;
    }
    .rights{
        margin: 135px 10px 10px;
    }
}
/* user */
.user{
    margin: 0 auto;
    /*padding: 5%;*/
    width: 100%;
    height: 70px;
    cursor: pointer;
}
.user:not(.commentUser and .userInSetting){
    padding: 5%;
}
.user .avatar{
    float: left;
    border: none;
    border-radius: 50%;
    max-height: 40px;
    max-width: 40px;
    background-color: white;
}
.user .userinfo{
    position: relative;
    left: 5px;
}
.user .userinfo .nickname{
    position: relative;
    font-weight: 500;
    font-size: 16px;
}
.user .userinfo .describe{
    position: relative;
    top: 1px;
    font-size: 8px;
}
/* image */
.image .articleCover{
    width: 95%;
    height: 220px;
    margin: 10px auto;
    background: white no-repeat 100% 0;
    background-size: cover;
    border-radius: 10px;
}
/* info */
.info{
    margin: 10px;
}
.info .articleTitle{
    margin: 15px;
    font-size: 18px;
}
.info .articleDescribe{
    margin: 15px;
    font-size: 14px;
}


/* article */
.article{
    margin: 45px auto 15px 10%;
    width: 50%;
    height: auto;
    border-radius: 10px;
    background-color: #9d9c9c;
    padding: 20px;
    overflow: hidden;
}
.article .content{
    margin: 20px;
}
.article .content img:not(.emotionIcon){
    border: none;
    margin: 0 auto;
    max-width: 80%;
    border-radius: 10px;
}
.thread{
    float: left;
    width: 100%;
    height: inherit;
}
.comments{
    position: fixed;
    top: 30px;
    right: 10px;
    width: 35%;
    height: -webkit-fill-available;
    margin: 15px;
    float: right;
    background-color: darkgray;
    border-radius: 10px;
    padding: 1%;
}
iframe{
    width: 100%;
    height: 100%;
    border: darkgray 1px solid;
    border-radius: 10px;
    background-color: darkgray;
}
@media (max-width: 1500px) {
    .comments{
        position: unset;
        width: 70%;
        min-width: 700px;
        height: 45rem;
        float: none;
        margin: 10px auto 0;
    }
    .article{
        margin: 45px auto 0;
        width: 70%;
        min-width: 700px;
    }
    .thread {
        width: 100%;
        min-width: 550px;
        float: none;
        margin: 0 auto;
    }
    iframe{
        width: 100%;
        margin: 0 auto;
    }
}
/* tags */
.tags{
    margin: 0 auto;
    width: 100%;
    height: 100px;
}

/* tag */
.tag{
    border-radius: 40px;
    height: 40px;
    min-width: 100px;
    margin: 10px;
    padding-right: 10px;
    float: left;
    background-color: #bebdbd;
}
.tag .tagIcon{
    float: left;
    max-width: 40px;
    max-height: 40px;
    margin-right: 3px;
    border-radius: 50%;
}
.tag .tagTitle {
    font-size: 14px;
    line-height: 1.5;
    margin: 10px;
    padding-left: 35px;
}
/* reply */
.reply, .pageControl{
    width: 70%;
    margin: 15px auto;
    background-color: gray;
    border-radius: 10px;
    padding: 3%;
}
.reply .comment{
    line-height: 24px;
    font-size: 16px;
}
.reply img:not(.avatar){
    margin-top: 10px;
}
.reply .comment img:not(.emotionIcon) {
    object-fit: cover;
    width: 100%;
    /*height: 100%;*/
    display: inline-block;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    background-color: white;
}
.reply .comment img:after {
    content:'';
    display: block;
    clear: both;
}
.emotionIcon{
    border: none;
}
.pageControl span{
    font-weight: bold;
}
.pageControl .pageButton{
    font-weight: unset;
    margin-left: 10px;
    margin-right: 10px;
}

.pageButton{
    color: #000;
    border: none;
    border-radius: 10px;
    height: 25px;
    width: 75px;
}
.errorPage{
    margin: 40px auto;
    height: 500px;
    width: 70%;
    max-width: 750px;
    border-radius: 10px;
    background-color: red;
    padding: 10%;
}
.mhy-vod:before{
    content: "[视频暂不支持播放]";
    text-align: center;
    color: yellow;
    font-size: 20px;
}
.mhy-vod{
    border: unset;
    height: unset;
}
.setting p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.accountSettings{
    margin: 15px;
}
.accountSettings *{
    margin: 10px;
}
.setting button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    float: left;
    margin: 10px;
}
.setting .deleteLog{
    margin: 10px;
    height: 65px;
}
.accountSettings .buttons{
    height: 50px;
}
.userBig{
    width: 80%;
    height: 450px;
    border-radius: 10px;
    background-color: #4d96ea;
    margin: 20px auto 0;
}
.userBig .posts{
    margin: 0 auto;
}
@media (max-width: 1500px) {
    .userBig{
        width: 500px;
        margin: 10px auto 0;
    }
}
@media (max-width: 710px) {
    .userBig{
        margin: 10px;
    }
}
