<!DOCTYPE html>
<html lang="zh">
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/hoyolabstyles.css') }}">
    <meta charset="UTF-8">
</head>
<body>
{% for reply in thread.getComments() %}
    <div class="reply">
        <div class="user commentUser">
            <img class="avatar" src="{{ reply['avatar'] }}"/>
            <div class="userinfo">
                <div class="nickname">{{ reply['username'] }}</div>
                <div class="describe">{{ reply['describe'] }}</div>
            </div>
        </div>
        <div class="comment">{{ reply['content'] | safe }}</div>
    </div>
{% endfor %}

</body>