{% extends 'base.html' %}
{% block body %}
    <div class="menu"></div>
    <div class="postCards">
    {% for i in range(articles | length) %}
        <a href="/article?id={{ articles[i]['post_id'] }}" style="cursor: pointer;text-decoration: none">
            <div class="postCard fix">
                <div class="user">
                    <img class="avatar" src="{{ articles[i]['authorAvatar'] }}"/>
                    <div class="userinfo">
                        <div class="nickname">{{ articles[i]['authorName'] }}</div>
                        <div class="describe">{{ articles[i]['authorDescribe'] }}</div>
                    </div>
                </div>
                <div class="image">
                    <div class="articleCover" style="background-image: url({{ articles[i]['cover'] }})"></div>
                </div>
                <div class="info">
                    <div class="articleTitle">{{ articles[i]['title'] }}</div>
                    <div class="articleDescribe">{{ articles[i]['describe'] }}</div>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>
{% endblock %}