{% extends 'base.html' %}
{% block body %}
    <div class="article">
        <div class="mdui-card-header">
            <img class="mdui-card-header-avatar" src="{{ thread.getAuthorAvatar() }}"/>
            <div class="mdui-card-header-title">{{ thread.getAuthor() }}</div>
            <div class="mdui-card-header-subtitle">{{ thread.getAuthorDescribe() }}</div>
        </div>
        <h1 class="fix">{{ thread.getTitle() }}</h1>
        <div class="content ql-editor">
        {% if type == 1 %}
            {{ thread.getContent() | safe }}
        {% elif type == 2 %}
            {{ thread.getStructuredContent(rendered=True) | safe }}
            {% for images in thread.getImages() %}
                <img class="content" src="{{ images }}">
            {% endfor %}
        {% endif %}
        </div>
        <br>
        <div class="tags">
        {% for tag in thread.getTags() %}
            <div class="mdui-chip" style="float: left;margin-top: 10px;margin-left: 10px">
                <img class="mdui-chip-icon" src="{{ tag['cover'] }}"/>
                <span class="mdui-chip-title">{{ tag['name'] }}</span>
            </div>
        {% endfor %}
        </div>
    <iframe src="/comments?post_id={{ thread.getPostId() }}&gid={{ thread.getGameId() }}"></iframe>
    </div>
{% endblock %}