{% extends 'base.html' %}
{% block body %}
    <div class="article">
        <div class="thread">
            {# 作者信息 #}
            <div class="user fix">
                <img class="avatar" src="{{ thread.getAuthorAvatar() }}"/>
                <div class="userinfo">
                    <div class="nickname">{{ thread.getAuthor() }}</div>
                    <div class="describe">{{ thread.getAuthorDescribe() }}</div>
                </div>
            </div>
            <div class="content ql-editor fix">
                <h1 class="fix">{{ thread.getTitle() }}</h1>
                {# 如果是以文字为主的文章，则直接使用返回的HTML文件并进行表情包转义，否则使用内置的渲染器对文章进行渲染并插入图片 #}
{#                <span>{{ thread.getRenderType() }}</span>#}
                {% if type == 1 %}
                    {{ thread.getContent() | safe }}
                {% elif type == 2 %}
                    {{ thread.getStructuredContent(rendered=True) | safe }}
                    {% for images in thread.getImages() %}
                        <div class="ql-image">
                            <div class="ql-image-box">
                                <img class="content" src="{{ images }}">
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <br>
        {# 文章标签 #}
        {% if thread.getTags() %}
            <div class="tags">
                {% for tag in thread.getTags() %}
                    <div class="tag">
                        <img class="tagIcon" src="{{ tag['cover'] }}"/>
                        <div class="tagTitle">{{ tag['name'] }}</div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        </div>
    </div>
    {# 评论区（使用iframe嵌入） #}
    <div class="comments">
        <iframe src="/comments?id={{ thread.getPostId() }}&gid={{ thread.getGameId() }}&page=1" allowTransparency></iframe>
    </div>
{% endblock %}