{% extends 'base.html' %}
{% block body %}
    <div class="menu side">
        <form action="/{{ game }}/search" class="search">
            <input type="text" name="content" id="content" value="{{ search }}">
            <input type="submit" value="搜索" onclick="hidePostCards(null)">
        </form>
        <div class="areas">
            <a onclick="hidePostCards('/{{ game }}')">
                <div class="area {{ 'selected' if select == 'recommend' else '' }}">
                推荐
                </div>
            </a>
            <div class="blank"></div>
            <a onclick="hidePostCards('/{{ game }}/news?type=announce')">
                <div class="area {{ 'selected' if select == 'announce' else '' }}">
                    公告
                </div>
            </a>
            <a onclick="hidePostCards('/{{ game }}/news?type=activity')">
                <div class="area {{ 'selected' if select == 'activity' else '' }}">
                    活动
                </div>
            </a>
            <a onclick="hidePostCards('/{{ game }}/news?type=information')">
                <div class="area {{ 'selected' if select == 'information' else '' }}">
                    资讯
                </div>
            </a>
        </div>
        <div class="autoFit"></div>
        <a href="/setting">
            <div class="account">
                <div class="user fix">
                    <img class="avatar" src="https://img-static.mihoyo.com/communityweb/upload/c9d11674eac7631d2210a1ba20799958.png"/>
                    <div class="userinfo">
                        <div class="nickname">登录</div>
                        <div class="describe"></div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% block cards %}
    {% endblock %}
{% endblock %}