{% extends 'mainPage.html' %}
{% block cards %}
    <div class="setting rights">
        <p><h1>设置</h1>
        <hr/>
        <div class="accountSettings">
            <p>
            <h3>账户：{{ account.getNickname() }}</h3>
            <div class="buttons">
                <button onclick="accountHandler()"
                        class="accountHandler"
                        style="{{ 'background-color:red;' if account.isLogin else '' }}">
                    {{ '退出登录' if account.isLogin else '登录' }}
                </button>
                <button onclick="refreshLoginStatus()" class="refreshLoginStatus">刷新登录状态</button>
            </div>
        </div>
        <hr>
        {% if isSaved %}
            <p><strong>已保存！</strong></p>
        {% elif configLoadFailed %}
            <p><strong>尝试加载配置文件时出现错误，因此您的所有设置将无法被保存！</strong></p>
        {% endif %}
        <form action="/setting" method="post">
            <div class="settingItem">
                <input type="checkbox" name="enableDebug" id="enableDebug" value="on" {{ 'checked' if config['enableDebug'] == 'on' }}>
                <input type="hidden" name="enableDebug" value="off">
                <label for="enableDebug">启用调试（下次启动时生效）</label>
            </div>
            <div class="settingItem">
                <label for="openLoad">切换版块：</label>
                <select name="openLoad" id="openLoad">
                    <option value="ys" {{ 'selected' if config['openLoad'] == 'ys'  }}>原神</option>
                    <option value="bh3"  {{ 'selected' if config['openLoad'] == 'bh3'  }}>崩坏3</option>
                    <option value="bh2"  {{ 'selected' if config['openLoad'] == 'bh2'  }}>崩坏学院2</option>
                    <option value="dby"  {{ 'selected' if config['openLoad'] == 'dby'  }}>大别野</option>
                    <option value="sr"  {{ 'selected' if config['openLoad'] == 'sr'  }}>崩坏：星穹铁道</option>
                    <option value="zzz"  {{ 'selected' if config['openLoad'] == 'zzz'  }}>绝区零</option>
                    <option value="wd"  {{ 'selected' if config['openLoad'] == 'wd'  }}>未定事件簿</option>
                </select>
                <label for="openLoad">（立即生效）</label>
            </div>
            <div class="commit"><input type="submit" class="pageButton" value="保存"></div>
        </form>
        <hr/>
        <div class="deleteLog">
            <button onclick="deleteLog()" class="refreshLoginStatus">清除日志</button>
        </div>
    </div>
{% endblock %}