{% extends 'mainPage.html' %}
{% block cards %}
<div class="rights">
    <div class="userBig">
        <img src="{{ user.getAvatar() }}" alt="">
        <h1>{{ user.getNickname() }}</h1>
        {% if user.uid != 0 %}
            <button class="followBtn {{ "follow" if user.info['follow_relation']['is_following'] else "unfollow" }}" onclick="followUser('{{ user.uid }}', '{{ "unfollow" if user.info['follow_relation']['is_following'] else "follow" }}')">
            {{ '取消关注' if user.info['follow_relation']['is_following'] else '关注' }}
        </button>
        {% endif %}
    </div>
    <div class="posts">
        {% if user.getUserPost()['posts'] | length > 0 %}
            {% for post in user.getUserPost()['posts'] %}
                <a onclick="hidePostCards('/article?id={{ post['post_id'] }}')" style="cursor: pointer;text-decoration: none">
                    <div class="postCard fix" style="height: 375px; padding-top: 10px">
                        {% if post['cover'] != '' %}
                            <div class="image">
                                <div class="articleCover" style="background-image: url({{ post['cover'] }})"></div>
                            </div>
                        {% else %}
                            <div class="image">
                                <div class="articleCover" style="background-color: #868585"></div>
                            </div>
                        {% endif %}
                        <div class="info">
                            <div class="articleTitle">{{ post['title'] }}</div>
                            <div class="articleDescribe">{{ post['describe'] }}</div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <div class="noPosts"><strong>该用户没有发布任何帖子或该用户已将帖子设为隐藏</strong></div>
        {% endif %}
    </div>
</div>
{% endblock %}